#output{
    border: 2px solid #7f9f7f;
    border-radius: 10px;
    width: 350px;
    height: 150px;
    margin: 50px auto;
    padding: 30px 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#chatImage{
    width: 450px;
    margin: 50px auto 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#chatImage>img{
    width: 35%;
}

form{
    width: 450px;
    margin: 10px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type="text"]{
    width: 50%;
    height: 1.5rem;
    border: 1px solid #7f9f7f;
    font-size: 1.2rem;
    padding: 0 5px;
}
input[type="button"]{
    margin-top: 1.5rem;
    width: 40%;
    height: 2.5rem;
    border: 1px solid #7f9f7f;
    border-radius: 20px;
    background-color: #cbdccb;
}