@keyframes fadein {
    from {
        opacity: 0;
        left: -250px;
    }
    to {
        opacity: 1;
        left: 10%;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
        left: 10%;
    }
    to {
        opacity: 0;
        left: -250px;
    }
}

body{
    transition: background-color 0.5s;
    /*overflow: hidden;*/
}

/*아웃풋*/
#output{
    border: 2px solid #7f9f7f;
    border-radius: 10px;
    width: 350px;
    height: 150px;
    margin: 50px auto;
    padding: 30px 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: color 0.5s;
}
.chat{
    text-align: center;
}

/*이미지 부문*/
#chatImage{
    width: 450px;
    margin: 50px auto 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#chatImage>img{
    width: 35%;
}

/*말을 거는 칸*/
#inputLayout{
    width: 450px;
    margin: 10px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type="text"]{
    width: 48%;
    height: 2rem;
    line-height: 34px;
    border: 1px solid #7f9f7f;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 0 10px;
}

/*버튼 관련*/
#button{
    width: 53%;

    display: flex;
    justify-content: center;
}
button{
    margin-top: 1rem;
    height: 2.1rem;
    border: 1px solid #7f9f7f;
    border-radius: 20px;
    background-color: #cbdccb;
}
button:hover{
    background-color: #bdcbbd;
    cursor: pointer;
}
#chatBtn{
    flex: 9;
    margin-left: 0.6rem;
}
#infoBtn{
    flex: 1;
    padding-top: 4px;
}

/*정보 div*/
#infoDiv{
    position: absolute;
    top: 300px;
    width: 280px;
    height: 300px;
    overflow: auto;

    opacity: 0;

    background-color: #f2f6f2;
    border: 2px dashed #7f9f7f;
    border-radius: 10px;

    box-shadow: 3px 3px 3px #cccccc;
    padding: 20px 35px;
    text-align: center;
}
#infoDiv::-webkit-scrollbar {
    width: 10px;
}
#infoDiv::-webkit-scrollbar-thumb {
    background-color: #9bb79b;
    border-radius: 10px;
    background-clip: padding-box;
    border: 3px solid transparent;
}
#infoDiv::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}
#infoDiv li{
    text-align: left;
    font-size: 1.3rem;
}
.fa-copy{
    font-size: 0.9rem;
    color: #7f9f7f;
}
.fa-copy:hover{
    cursor: pointer;
}